h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
}

.Image_Body {
  height: 200px;
}

.Image_Body,
.Login_Body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image_Body {
  background: url("../xbg_1.jpg.pagespeed.ic.R5QWIA8_nZ.jfif");
  background-size: cover;
}

.Image_Body .copy {
  text-align: center;
}

.Login_Body {
  background: #f6f7fc;
}

.Login_Body .copy {
  text-align: center;
}

.Login_Body form {
  width: 328px;
}

form input[type="text"],
form input [type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

.password_input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.input_container .password {
  position: relative;
}

.signIn_button {
  display: block;
  width: 100%;
  background: #182351;
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* .signIn_button:hover {
    background : #2c4893;
    cursor : pointer;
} */

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    height: 100vh;
  }
  .Login_Body,
  .Image_Body {
    display: flex;
    width: 50%;
    height: auto;
  }
}
